[submodule "tmux"]
	path = tmux
	url = git@github.com:chinrw/k-tmux.git
  branch = master
[submodule "qemu-script"]
	path = qemu-script
	url = git@github.com:chinrw/qemu-script.git
  branch = main
[submodule "yazi/plugins/hexyl.yazi"]
	path = yazi/plugins/hexyl.yazi
	url = https://github.com/Reledia/hexyl.yazi.git
[submodule "yazi/plugins/mime.yazi"]
	path = yazi/plugins/mime.yazi
	url = https://github.com/DreamMaoMao/mime.yazi.git
[submodule "yazi/plugins/ouch.yazi"]
	path = yazi/plugins/ouch.yazi
	url = git@github.com:ndtoan96/ouch.yazi.git
